.head{
  padding: 20px 0;
  color:black;
}

.logo h1{
  font-size: 35px;
  font-weight: 600;
}
.logo span{
  font-weight: 500;
  font-style:oblique;
  color: rgb(29, 29, 30);
}
.head .icon{
  margin-left: 10px;
}


/*========= HEADER =======*/

header{
  background-color: rgba(211, 209, 209, 0.934);
  margin: 0 30px;
  
}

header ul {
  padding: 30px 20px;
}

header li{
  margin-right: 40px;

}

header ul li {
  color: #000000;
  font-weight: 500;
  transition: 0.5s;
}

header ul li:hover{
  color: rgb(83, 82, 82);
  cursor: pointer;
}

.start{
  color: #fff;
  background-color: rgb(74, 15, 25);
  padding: 30px 70px;
}
.button{
  font-size: 20px;
  font-weight: 500;
}


.toggle{
  display: none;
}


@media(max-width: 768px){
  header{
    margin: 0;
    background-color: rgb(74, 15, 25) ;
    position: relative;


  }
  header ul.flexSB{
    display: none;
    
  }

  header ul li{
    margin-bottom: 20px;
    padding-left: 45px;
    color: #fff;
  }

  .toggle{
    display: block;
    background: none;
    color: #fff;
    font-size: 30px ;
    position: absolute;
    right: 15px;
    top: -20px;
  }

  .mobile-nav{
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color:rgb(74, 15, 25) ;
    
  }
  .button{
    font-size: 18px;
    
  }
  
}



